<h2>{{ meetup.name }}</h2> {{ (meetup.time / 1000)|date("d.m.Y H:i")  }}
<p>{{ meetup.venue.name }} ({{ meetup.venue.address_1 }})</p>
<a href="{{ meetup.link }}" class="btn btn-default" target="_blank">zum Meetup</a>